@font-face {
  font-family: Novem;
  src: url(/Novem-gx193.ttf);
}

.levels-button {
  background-color: #2E6B5E; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  margin: 10px 0px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font: 20px Novem;
}

body {
  background-color: #8be2ff;
  font: 20px Novem;
}
